<!--<//img class="center_fit" src='http://www.walkerstours.com/wp-content/uploads/2015/04/Beach-Tours3.jpg'>-->


<div id = 'tour_details'>
    
    <h2 class = 'text-center'> Hi There</h2>
    
</div>
